ul li:hover {
  color: green;
}

ul li {
  width: max-content;
  padding-right: 1em;
  height: 2em;
  list-style-type: none;
}

ul {
  width: max-content;
  padding-left: 1em;
}

label {
  width: 100%;
  display: grid;
  max-width: 300px;
  /* margin-left: 1em; */
}

body {
  padding: 1em;
}

.btn-warning,
.btn-process {
  padding: 0.5em;
  font-weight: bold;
  border-radius: 5px;
}

.btn-warning {
  background-color: hsla(0, 75%, 53%, 0.821);
  color: white;

}

.btn-process {
  background-color: hsla(194, 83%, 50%, 0.861);
  color: white;
}

.awesome-meter {
  background: linear-gradient(to bottom, #6e6161 var(--meter-score), #ed550fe9 0%);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  color: white;
  text-align: center;
  width: 75px;
}

ul {
  white-space: nowrap;
}

li {
  display: inline;
}